* {
  box-sizing: border-box;
}

div h1 {
  text-align: center;
}

fieldset {
  width: 50%;
}

span {
  font-weight: bold;
}

.navbar {
  background-color: #404040;
  text-align: center;
  font-size: 1.5em;
  margin: 0 auto;
}

.navbar li {
  padding: .3em 0;
  margin: 0 auto;
  list-style-type: none;
  display: inline-block;
  width: 25%;
  text-decoration: none;
  color: whitesmoke;
}

.navbar li:hover {
  background-color: whitesmoke;
  color: #404040;
}
