body {
  margin: 20px auto;
  width: 50%;
  border: 20px solid gray;
  padding: 15px;
}

h3 {
  color: blue;
  text-transform: uppercase;
}

.first {
  border-left: 3px solid gray;
  padding-left: 5px;
}
