* {
  box-sizing: border-box;
}

.navbar {
  background-color: #7B8799;
  text-align: center;
  font-size: 1.5em;
}

.navbar a {
  padding: 0 1.5em;
  margin: 0 auto;
  text-decoration: none;
  color: #eee;
}

.navbar a:hover {
  background-color: #eee;
  color: #7B8799;
}
