* {
    box-sizing: border-box;
    font-size: 0px;
}

body {
  width: 1000px;
  height: 600px;
  position: relative;
  background-color: white;
  border: black dotted;
}

div {
  position: absolute;
}

.red {
  background-color: #CC172C;
  height: 33%;
  width: 100%;
}

.blue {
  background-color: #0F228A;
  height: 25%;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.green {
  background-color: #3C762D;
  height: 33%;
  width: 100%;
  bottom: 0;
}
