* {
    box-sizing: border-box;
    font-size: 0px;
}

body {
  width: 800px;
  height: 500px;
  position: relative;
  border: black dotted;
}

.white {
  background-color: white;
  height: 100%;
  width: 34%;
  display: inline-block;
}

.red {
  background-color: red;
  height: 50%;
  width: 66%;
  top: 0%;
  position: absolute;
  display: inline-block;
}

.green {
  background-color: green;
  height: 50%;
  width: 66%;
  display: inline-block;
}
